# --- VARIABLES DE ENTORNO ---
.env
.env.local
.env.*.local
database/.env
backend/.env
frontend/.env
!.env.example

# --- IDEs (VS Code, IntelliJ, Eclipse) ---
.idea/
*.iml
.vscode/
.project
.classpath

# --- BACKEND (Maven/Gradle estándar) ---
# Ignora carpetas de compilación en cualquier nivel de subcarpeta
**/target/
**/build/
**/bin/
**/out/